/* styles */

BODY {
	background-color: #432D16;
    background-repeat: no-repeat;
    background-attachment: fixed;
	}

H1
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: bold;
margin: -2px 0px 0px 0px;
}

H1.WHITE
{color: white;
}

H2
{color: #423D16;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: normal;
margin: -5px 0px 0px 0px;
}

H2.WHITE
{color: white;
}

H3
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 18pt;
font-style: normal;
font-weight: bold
margin: -5px 0px 0px 0px;
}

H3.WHITE
{color: white;
}

H4
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 14pt;
font-style: normal;
font-weight: bold;
margin: -5px 0px 0px 0px;
}

H4.WHITE
{color: white;
}

H5
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: bold;
margin: -5px 0px 0px 0px;
}

H5.WHITE
{color: white;
}

H5.DKGRAY
{color: #333333;
font-weight: normal}

H6
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: bold;
margin: -5px 0px 0px 0px;
}

H6.WHITE
{color: white;
}

H6.DKGRAY
{color: #333333;
font-weight: normal;
margin: -5px 0px 0px 0px}

font
{color: #ffffff;
font-size: 9pt;
}

font.9pt
{font-size: 9pt;
}

font.8pt
{font-size: 8pt;
}

font.7pt
{font-size: 8pt;
}

font.italic
{font-style: italic;
}

font.7italic
{font-style: italic;
font-size: 7pt;
}

font.8italic
{font-style: italic;
font-size: 8pt;
}

font.8bold
{font-weight: bold;
font-size: 8pt;
}

font.9italic
{font-style: italic;
font-size: 9pt;
}

font.9bold
{font-weight: bold;
font-size: 9pt;
}

P
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.red
{color: red;
}

P.B
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: bold;
margin: 0px;
}

P.7
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 7pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.9
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.9B
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: bold;
margin: 0px;
}

P.10
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.made
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: bold;
margin: 5px 0px 0px 7px;
}

P.made2
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: italic;
font-weight: normal;
margin: 5px 0px 7px 7px;
}

P.freeship
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: bold;
margin: 10px 0px 0px 7px;
}

P.freeship2
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: normal;
margin: 0px 0px 0px 7px;
}

P.USA
{color: #432D16;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: bold;
margin: 0px 0px 0px 0px;
}

P.warn
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 11pt;
font-style: normal;
font-weight: bold;
margin: 0px 0px 0px 0px;
}

P.warn2
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: normal;
margin: 0px 0px 0px 0px;
}

P.warn3
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: bold;
margin: 0px 0px 0px 0px;
}

P.warns
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 11pt;
font-style: normal;
font-weight: bold;
margin: 5px 0px 0px 7px;
}

P.warns2
{color: red;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: normal;
margin: 5px 0px 7px 7px;
}

P.RUST
{color: #BC7646;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.BLACK7
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 7pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.BLACK8
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.BLACK9
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.BLACK10
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-style: normal;
font-weight: normal;
margin: 0px;
}

P.BLACK9B
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 9pt;
font-style: normal;
font-weight: bold;
margin: 0px;
}

P.BLACK10B
{color: black;
font-size: 10pt;
font-weight: bold;
}

P.BLACK12
{color: black;
font-size: 12pt;
}

P.WHITE
{color: #ffffff;
font-size: 8pt;
}

P.WHITEB
{color: #ffffff;
font-size: 8pt;
font-weight: bold;
}

P.WHITEI
{color: #ffffff;
font-size: 8pt;
font-style: italic;
}

P.WHITE7
{color: #ffffff;
font-size: 7pt;
}

P.WHITE7I
{color: #ffffff;
font-size: 7pt;
font-style: italic;
}

P.WHITE9
{color: #ffffff;
font-size: 9pt;
}

P.WHITE9B
{color: #ffffff;
font-size: 9pt;
font-weight: bold;
}

P.WHITE9I
{color: #ffffff;
font-size: 9pt;
font-style: italic;
}

P.WHITE10B
{color: #ffffff;
font-size: 10pt;
font-weight: bold;
}

P.WHITE12
{color: #ffffff;
font-size: 12pt;
font-weight: bold;
}

P.WHITE24
{color: #ffffff;
font-size: 24pt;
font-weight: bold;
}

P.DKGRAY
{color: #333333
}

P.DKGRAY9
{color: #333333;
font-size: 9pt;
font-weight: bold;
}

P.QUOTE
{color: #000000;
font-family: Times, Calisto MT, New Century Schoolbook;
font-size: 11pt;
font-style: italic;
font-weight: bold;
}

P.ITALIC
{font-style: italic;
}

P.BOLD
{font-weight: bold;
}

P.LARGE
{font-size: 9pt;
}

P.LARGEBOLD
{font-size: 9pt;
font-weight: bold;
margin: 0px 0px 7px 0px;
}

P.XLARGE
{font-size: 10pt;
}

P.SMALL
{font-size: 7pt;
}

P.CODE
{font-family: "Courier New", Courier, Fixed;
}

P.CODEBOLD
{font-family: "Courier New", Courier, Fixed;
font-weight: bold;
}

A.H1:link {color: #432D16; text-decoration: none; font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-style: normal; font-weight: bold; margin: -2px 0px 0px 0px;}
A.H1:visited {color: #432D16; text-decoration: none; font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-style: normal; font-weight: bold; margin: -2px 0px 0px 0px;}
A.H1:active {color: #432D16; text-decoration: none; font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-style: normal; font-weight: bold; margin: -2px 0px 0px 0px;}
A.H1:hover {color: #432D16; text-decoration: underline; font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-style: normal; font-weight: bold; margin: -2px 0px 0px 0px;}

A.BROWN:link {color: #432D16; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN:visited {color: #432D16; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN:active {color: #432D16; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN:hover {color: #432D16; text-decoration: underline; color: #432D16; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}

A.BROWN7:link {color: #432D16; text-decoration: none; font-size: 7pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN7:visited {color: #432D16; text-decoration: none; font-size: 7pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN7:active {color: #432D16; text-decoration: none; font-size: 7pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN7:hover {color: #432D16; text-decoration: underline; color: #432D16; font-size: 7pt; font-family: Verdana, Arial, Helvetica;}

A.BROWNU:link {color: #2131fb; text-decoration: underline; font-family: Verdana, Arial, Helvetica;}
A.BROWNU:visited {color: #784F27; text-decoration: underline; font-family: Verdana, Arial, Helvetica;}
A.BROWNU:active {color: #432D16; text-decoration: underline; font-family: Verdana, Arial, Helvetica;}
A.BROWNU:hover {color: #432D16; text-decoration: none; font-family: Verdana, Arial, Helvetica;}

A.BROWN9:link {color: #432D16; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN9:visited {color: #784F27; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN9:active {color: #432D16; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN9:hover {color: #432D16; text-decoration: none; color: black; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}

A.BROWN9BU:link {color: #432D16; text-decoration: underline; font-weight: bold; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN9BU:visited {color: #784F27; text-decoration: underline; font-weight: bold; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN9BU:active {color: #432D16; text-decoration: underline; font-weight: bold; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.BROWN9BU:hover {color: #432D16; text-decoration: none; color: black; font-weight: bold; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}

A.BROWNB:link {color: #432D16; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.BROWNB:visited {color: #784F27; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.BROWNB:active {color: #432D16; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.BROWNB:hover {color: #432D16; text-decoration: underline; color: black; font-weight: bold; font-family: Verdana, Arial, Helvetica;}

A.RED:link {color: red; text-decoration: underline; font-weight: normal; font-family: Verdana, Arial, Helvetica;}
A.RED:visited {color: red; text-decoration: underline; font-weight: normal; font-family: Verdana, Arial, Helvetica;}
A.RED:active {color: red; text-decoration: underline; font-weight: normal; font-family: Verdana, Arial, Helvetica;}
A.RED:hover {color: red; text-decoration: none; font-weight: normal; font-family: Verdana, Arial, Helvetica;}

A.REDB:link {color: red; text-decoration: underline; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.REDB:visited {color: red; text-decoration: underline; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.REDB:active {color: red; text-decoration: underline; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.REDB:hover {color: red; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}

A.BOLDRED:link {color: red; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.BOLDRED:visited {color: red; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.BOLDRED:active {color: red; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.BOLDRED:hover {color: red; text-decoration: underline; font-weight: bold; font-family: Verdana, Arial, Helvetica;}

A.WHITE:link {color: #ffffff; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.WHITE:visited {color: #ffffff; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.WHITE:active {color: #ffffff; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.WHITE:hover {color: #ffffff; text-decoration: underline; color: white; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}

A.WHITEU:link {color: #ffffff; text-decoration: underline; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.WHITEU:visited {color: #ffffff; text-decoration: underline; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.WHITEU:active {color: #ffffff; text-decoration: underline; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}
A.WHITEU:hover {color: #ffffff; text-decoration: none; font-size: 8pt; font-family: Verdana, Arial, Helvetica;}

A.WHITE9:link {color: #ffffff; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.WHITE9:visited {color: #ffffff; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.WHITE9:active {color: #ffffff; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}
A.WHITE9:hover {color: #ffffff; text-decoration: none; color: black; font-size: 9pt; font-family: Verdana, Arial, Helvetica;}

A.WHITEB:link {color: #ffffff; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.WHITEB:visited {color: #ffffff; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.WHITEB:active {color: #ffffff; text-decoration: none; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.WHITEB:hover {color: #ffffff; text-decoration: none; color: black; font-weight: bold; font-family: Verdana, Arial, Helvetica;}

A.WHITE12B:link {color: #ffffff; text-decoration: none; font-size: 12pt; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.WHITE12B:visited {color: #ffffff; text-decoration: none; font-size: 12pt; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.WHITE12B:active {color: #ffffff; text-decoration: none; font-size: 12pt; font-weight: bold; font-family: Verdana, Arial, Helvetica;}
A.WHITE12B:hover {color: #ffffff; text-decoration: none; color: black; font-size: 12pt; font-weight: bold; font-family: Verdana, Arial, Helvetica;}

A.BLACK:link {color: #000000; text-decoration: none; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}
A.BLACK:visited {color: #333333; text-decoration: none; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}
A.BLACK:active {color: #000000; text-decoration: none; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}
A.BLACK:hover {color: #000000; text-decoration: none; font-size: 10pt; color: white; font-family: Verdana, Arial, Helvetica;}

A.BLACKU:link {color: #000000; text-decoration: underline; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}
A.BLACKU:visited {color: #333333; text-decoration: underline; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}
A.BLACKU:active {color: #000000; text-decoration: underline; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}
A.BLACKU:hover {color: #000000; text-decoration: none; font-size: 10pt; font-family: Verdana, Arial, Helvetica;}

A.BLACK9:link {color: #000000; text-decoration: none; font-size: 9pt; font-family: font-family: Verdana, Arial, Helvetica;}
A.BLACK9:visited {color: #333333; text-decoration: none; font-size: 9pt; font-family: font-family: Verdana, Arial, Helvetica;}
A.BLACK9:active {color: #000000; text-decoration: none; font-size: 9pt; font-family: font-family: Verdana, Arial, Helvetica;}
A.BLACK9:hover {color: #000000; text-decoration: none; color: white; font-size: 9pt; font-family: font-family: Verdana, Arial, Helvetica;}

A.BLACK9A:link {color: #000000; text-decoration: none; font-size: 9pt; font-family: Arial, Franklin Gothic; Helvetica;}
A.BLACK9A:visited {color: #333333; text-decoration: none; font-size: 9pt; font-family: Arial, Franklin Gothic; Helvetica;}
A.BLACK9A:active {color: #000000; text-decoration: none; font-size: 9pt; font-family: Arial, Franklin Gothic; Helvetica;}
A.BLACK9A:hover {color: #000000; text-decoration: none; color: white; font-size: 9pt; font-family: Arial, Franklin Gothic; Helvetica;}

A.BLACK9BOLD:link {color: #000000; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica; font-weight: bold;}
A.BLACK9BOLD:visited {color: #333333; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica; font-weight: bold;}
A.BLACK9BOLD:active {color: #000000; text-decoration: none; font-size: 9pt; font-family: Verdana, Arial, Helvetica; font-weight: bold;}
A.BLACK9BOLD:hover {color: #000000; text-decoration: none; color: white; font-size: 9pt; font-family: Verdana, Arial, Helvetica; font-weight: bold;}

PRE
{color: black;
font-family: "Courier New", Courier, Fixed;
font-size: 12pt;
font-style: normal;
font-weight: normal}

PRE.SMALL
{color: black;
font-family: "Courier New", Courier, Fixed;
font-size: 10pt;
font-style: normal;
font-weight: normal}

CODE
{color: black;
font-family: "Courier New", Courier, Fixed;
font-size: 8pt;
font-style: normal;
font-weight: normal;
whitespace: pre}

UL
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: normal;
text-indent: 10px;
}

#m
{margin: 0;
padding: 0px 0px 0px 10px;
width: 170px;
text-indent: 10px;
list-style: none;
border-top: 0px solid #432D16;
}

#m a:link
{display:block;
background: #F0E2AE;
color: #432D16;
margin: -2px 0;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

#m a:visited
{display:block;
background: #F0E2AE;
color: #432D16;
margin: -2px 0;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

#m a:hover
{display:block;
background: #cc9900;
font-size: 8pt;
font-weight: normal;
color: #ffffff;
}

#m2
{margin: 0;
padding: 0;
width: 170px;
list-style: none;
border-top: 0px solid #432D16;
}

#m2 a:link,#m a:visited
{display:block;
background: #F0E2AE;
color: #432D16;
margin: -2px 0;
text-indent: 0px;
font-size: 8pt;
text-decoration: none;
font-weight: normal;
}

#m2 a:hover
{background: #cc9900;
font-size: 8pt;
font-weight: normal;
color: #ffffff;
}

OL
{color: black;
font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-style: normal;
font-weight: normal}

/* TABLE STYLES */

TABLE
{border: solid 0 orange;
border-collapse: collapse;
cellpadding: 0;
cellspacing: 0;
}

TABLE.HOME1
{width: 820px;
height: 45px;
align: center;
background-color: #ffffff;
border: solid 1 #432D16;
border-collapse: collapse;
cellpadding: 0;
cellspacing: 0;
}

TABLE.HOME2
{width: 820px;
height: 20px;
align: center;
background-color: #ffffff;
border: solid 1 #432D16;
border-collapse: collapse;
cellpadding: 0;
cellspacing: 0;
margin: -1px 0px 0px 0px;
}

TABLE.HOME3
{width: 820px;
align: center;
background-color: #ffffff;
border: solid 1 #432D16;
border-collapse: collapse;
cellpadding: 0;
cellspacing: 0;
margin: -1px 0px 0px 0px;
}

TD {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px; }

TD.OPTIONS {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px 0px 10px 0px;
	}

TD.OPTIONS2 {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px 0px 0px 0px; }

TD.OPTIONS3 {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px 0px 10px 10px;
	}

TD.MENUHEAD {
	color: #432D16;
	background-color: #E9D880;
 	border: solid 1 #432D16;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold;
	padding: 4px; 
	margin: -1px 0px 0px 0px;
	}

TD.MENUBODY {
	color: #432D16;
	background-color: #F0E2AE;
 	border: solid 0 #432D16;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 4px; }

TD.PRODHEAD {
 	border: solid 0 #432D16;
	text-align: center;
	height: 18px;
	padding: 0px; }

TD.SIZEPRICE {
 	border: solid 0 #432D16;
	text-align: center;
	color: #432D16;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px; }

TD.BUTTON {
 	border: solid 0 #432D16;
	text-align: center;
	padding: 4px; }

TD.NOPADDING {
	border: solid 0 black;
	padding: 0;
	margin: 0;
	vertical-align: top;
	color: black;
	font-family: Verdana, Arial, Helvetica;
	font-size: 0pt;
	font-style: normal;
	font-weight: normal; }

TD.CATHEAD {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 10px; }

TD.DESHEAD {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px 10px 10px 10px; }

TD.DESHEAD2 {
	color: black;
 	border: solid 0 green;
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	padding: 0px 10px 10px 0px; }

IMG {
	border: 0;
	vertical-align: middle; }

.menu		{	position: absolute;
				left: 130px;
				top: 272px;
				right: 0px; 
				z-index: 2}

.logo       {   position : absolute;
				left : 275px;
				top : 5px;
				z-index : 3;}

.tag        {   position : absolute;
				left : 280px;
				top : 8px;
				z-index : 3;}

.contact    {   position : absolute;
				left : 165px;
				top : 535px;
				z-index : 3;}

	#divAddress{position:absolute; width:290; left:-18; top:0 ; z-index:1; text-align: right} 
	#divTitle{position:absolute; width:610; left:300; top:30 ; z-index:1; text-align: left} 
	#divMenu{position:absolute; width:250; left:18; top:110 ; z-index:1; text-align: right} 
	#divText1{position:absolute; width:410; left:310; top:120 ; z-index:1; text-align: left} 
	#divText2{position:absolute; width:510; left:310; top:345; z-index:1; text-align: left} 
	#divQuote{position:absolute; width:180; left:730; top:130; z-index:1; text-align: center} 
	#divLogo{position:absolute; width:130; left:80; top:350; z-index:1; text-align: center} 
	#divLogo1{position:absolute; width:130; left:80; top:370; z-index:1; text-align: center} 
	#divCopy{position:absolute; width:400; left:45; top:550; z-index:1; text-align: left} 
	#divW3{position:absolute; width:350; left:575; top:550; z-index:1; text-align: right} 
	#divBodyText{position:absolute; width:650; left:300; top:120 ; z-index:1; text-align: left} 
	#diviframe{position:absolute; width:620; left:290; top:110 ; z-index:1; text-align: left} 
